body {
  background: transparent !important;
  --h1-color: #FFD1DC;
  --h2-color: #AEC6CF;
  --h3-color: #B6E7B9;
  --h4-color: #FCF5C7;
  --h5-color: #B19CD9;
  --h6-color: #d1e1ff;

}

.app-container {
  background-color: rgba(0, 0, 0, 0.1); /* 0.5 adalah tingkat opacity (0-1) */
}

.markdown-preview-view p {
	text-align: justify;
	text-justify: inter-word;	
}

/* source view and live preview */
.markdown-source-view.mod-cm6 .cm-line {
	text-align: justify;
	text-justify: inter-word;	
}

.workspace-split.mod-root { background: transparent !important; }
